body {
  margin: 0;
}

.container {
  width: 900px;
  margin: 0
}

header {
  display: flex;
  justify-content: space-between;
  width: 90vw;
  height: 100px;
  border: 1px solid red;
  align-items: center
 }

header nav ul {
  display: flex;
  width: 600px;
}

header nav ul li {
  display: flex;
  justify-content: space-between;
  margin-right: 60px;
  position: center;
  border: 1px solid black;
}

header nav ul li a {
  color: gray;
  text-decoration: none;
  margin-left: 90px;
  border: 1px solid blue;
}

header nav ul li a:hover {
  text-decoration: underline;
}

header .logo {
  display: flex;

  border: 1px solid orange;
}
.logo {
  height: 45px;
  width: 150px;
  margin-left: 120px;
}

.cta {
  width: 100vw;
  height: 400px;
  border: 1px solid purple;
}

.cta-text {
  float: left;
  font-size: 90px;
  width: 560px;
  height: 560px;
  margin: 20px 0 0 100px;
  text-align: center;
  border: 1px solid green;
}

.cta .cta-text button {
    width: 175px;
    height: 35px;
    background: white;
    border: 1px solid black;
  font-size: 18px;
  border: 1px solid magenta;
}